.container {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      /* gap: 10px; */
      grid-auto-rows: minmax(100%, auto);
}

.gauche {
      grid-column: 1;
      grid-row: 1;
      background: blue;
}

.droite {
      grid-column: 2;
      grid-row: 1;
      background: red;
}
